<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta http-equiv="Cache-control" content="no-cache" />
        <title><%= __('app.title') %></title>
        <% if (!$printer || !$printer.model || ($printer.model.options && $printer.model.code.startsWith('xrx'))) { %>
        <script type="text/javascript" src="/xrx_g9_widgets/XRXg9Widgets.min.js"></script>
        <script type="text/javascript" src="/xrx/XRXXmlHandler.js"></script>
        <script type="text/javascript" src="/xrx/XRXWebservices.js"></script>
        <script type="text/javascript" src="/xrx/XRXSession.js"></script>
        <script type="text/javascript" src="/xrx/XRXUtilities.js"></script>
        <script type="text/javascript" src="/xrx/XRXPrint.js"></script>
        <script type="text/javascript" src="/xrx/XRXDeviceConfig.js"></script>
        <script type="text/javascript" src="/xrx/XRXJobManagement.js"></script>
        <link rel="stylesheet" href="/xrx_g9_widgets/XRXg9Widgets.min.css"><% }; %>
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/ui.css">
    </head>
    <body><%- body %></body>
</html>