<div id="action_bar" class="xrx-action-bar xrx-background blue">
    <div id="title-bar" class="xrx-action-bar-label"><%- __('app.jobs') %></div>
    <button id="btn-home" class="xrx-action-bar-button-left"><%- __('btn.home') %></button>
    <button id="btn-exit" class="xrx-action-bar-button-right"><%- __('btn.exit') %></button>
</div>
<div id="tableContainer"></div>
<% include ../common-scripts %>
<% include ./scripts %>