<div id="action_bar" class="xrx-action-bar xrx-background">
    <div id="title-bar" class="xrx-action-bar-label"><%- __('reg.copy') %></div>
    <button id="btn-exit" class="xrx-action-bar-button-left"><%- __('btn.exit') %></button>
    <button id="btn-copy" class="xrx-action-bar-button-right"><%- __('btn.copy') %></button>
</div>
<div id="tableContainer">
</div>
<% include ../common-scripts %>
<% include ./scripts %>
